@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-mono: "Courier New", Courier, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Button container */
.play-pause-container {
  width: 60px; /* Bigger size */
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.05);/* Outlined button */
  border-radius: 50%;
  /*background: linear-gradient(to bottom right, #f5f5f5, #a3a3a3);*/
  background: rgba(255, 255, 255, 0.0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

/* Common styles for play and pause icons */
.play-pause-container::before,
.play-pause-container::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
}

/* Play Symbol (Outlined Triangle) */
.play-btn::before {
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Left side transparent */
  border-right: 15px solid transparent; /* Right side transparent */
  border-bottom: 26px solid rgba(255, 255, 255, 0.05);/* Bottom outlined */
  transform: translateX(2px) rotate(90deg); /* Rotate for Play icon */
  border-radius: 2px;
}

/* Pause Symbol (Two Outlined Bars) */
.pause-btn::before,
.pause-btn::after {
  width: 8px;
  height: 24px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.pause-btn::before {
  transform: translateX(-6px);
}

.pause-btn::after {
  transform: translateX(6px);
}

.lcd-screen {
  /* Basic dimensions and positioning */
  width: 200px;
  height: 46px;
  padding: 20px;
  position: relative; /* For absolute positioning of inner elements */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide any overflowing content */
}

.lcd-screen {
  /*background: linear-gradient(to bottom, #000, #111); !* Dark to darker gradient *!*/
  background: #0a0a0a;
  opacity: 70%;
}

.lcd-screen {
  box-shadow: 0 0 0px rgba(255, 255, 255, 0.0); /* Subtle white glow */
}

.lcd-screen {
  border: 0px solid #333; /* Dark gray border */
}

.lcd-content {
  color: rgba(255, 255, 255, 0.0);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%); /* Center the content */
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
